.data-all {
  width: 80%;
  min-height: 100vh;
  display: flex;
  float: right;
  background-color: white;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.data-down {
  width: 80%;
}
